/* GENERAL STYLES */
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

li {
  display: inline-block;
}

.italic {
  font-style: italic;
}

a:visited {
  color: inherit;
}

.amazon_btnPrimary {
  background: #f0c14b;
  border-radius: 2px;
  height: 30px;
  border-color: #a88734 #9c7e31 #846a29;
  border-style: solid;
  border-width: 1px;
  color: #111;
  margin: 5px 0;
}

.amazon_btnSecondary {
  border-radius: 2px;
  height: 30px;
  border: 1px solid #a9a9a9;
}

.homepage_container {
  background-color: #0f171e;
  display: flex;
  flex-direction: column;
}

h2 {
  margin-bottom: 15px;
}

/* STYLES FOR HEADER */
header {
  height: 60px;
  background-color: black;
  display: flex;
  justify-content: space-between;
}

.header_image {
  margin: 12px 20px 0;
  object-fit: contain;
}

#header_logo {
  width: 100px;
}

.searchBar {
  display: flex;
  align-items: center;
  flex: 0.7;
}

.searchBar_input {
  height: 40px !important;
  width: 100% !important;
  margin: 0 !important;
  outline: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.searchBar_img {
  height: 38px;
  background-color: #f0c14b;
  padding: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.headerNav {
  display: flex;
  flex: 0.25;
  max-width: 300px;
  color: white;
  font-size: 13px;
  align-items: center;
  justify-content: space-evenly;
}

.headerNav_option {
  display: flex;
  flex-direction: column;
}

.headerNav_optionBold {
  font-family: "Inter", sans-serif;
  font-weight: 900;
}

.headerNav_option > a {
  text-decoration: none;
  color: white;
}

#shopping_cart {
  height: 40px;
}

#cart_container {
  position: relative;
}

#cart_amount {
  position: absolute;
  top: 3px;
  left: 16px;
  color: #f08804;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 16px;
}

.background {
  max-width: 100%;
  padding: 0;
  z-index: +99;
  position: relative;
  margin: 0 auto 5em;
}

.option_orders {
  position: relative;
  cursor: pointer;
}

.ordersLogin_popup {
  position: absolute;
  z-index: +100;
  background: #ddd;
  height: 150px;
  width: 250px;
  top: 150%;
  right: 0%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 3px;
  box-shadow: 15px 15px 15px -9px rgba(0, 0, 0, 0.75);
  color: black;
  text-align: right;
}

/* STYLES FOR SUBHEADER */

.subheader_container {
  background-color: #d7ebeb;
  height: 39px;
  display: flex;
  align-items: center;
}

.subheader_text {
  margin-left: 20px;
}

/* STYLES FOR MOVIE NAV */

.main_nav {
  width: 90%;
  margin: auto;
  max-width: 1072px;
  margin-bottom: 2em;
}

.main_nav > ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  border: white 1px solid;
  border-radius: 3px;
  color: white;
  position: relative;
}

.main_navItem {
  display: inline-block;
  margin: 0;
  padding: 20px 0;
  flex: 1;
  text-align: center;
  position: relative;
  z-index: 50;
  border-radius: 3px;
}

.main_navItem:hover {
  cursor: pointer;
  background-color: rgba(240, 136, 4, 0.5);
  opacity: 0.5;
}

.main_navItemSelected {
  background-color: #f08804;
}

/* STYLES FOR MOVIE CONTAINER */
.movies_container {
  width: 90%;
  margin: auto;
  max-width: 1072px;
  margin-bottom: 7em;
}

.movie_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  border-radius: 5px;
  padding: 0.5em;
  background-color: #f3f3f3;
  border: 1px solid gray;
}

#left {
  flex-direction: row-reverse;
}

#right {
  flex-direction: row;
}

/* STYLES FOR MOVIE INFO INSIDE MOVIE CONTAINER */
.movie_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 10px;
}

.actors {
  font-style: italic;
}

/* STYLES FOR MOVIE IMAGE */
.movie_image {
  max-width: 10em;
}

button {
  height: 2em;
  border-radius: 5px;
  border: black 1px solid;
}

/* STYLES FOR CART */
.checkout_container {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.checkout_right,
.checkout_left {
  margin: 20px;
}

.checkout_left {
  flex: 0.6;
  max-width: 1000px;
}

.checkout_leftInfo {
  display: flex;
  align-items: center;
  border: 1px #ddd solid;
  padding: 20px;
  background-color: #f3f3f3;
  border-radius: 3px;
  flex: 0.7;
  margin-bottom: 2em;
}

.checkout_leftInfo > img {
  width: 50%;
}

.checkout_leftOptions {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 20px;
}

.checkout_leftHeader {
  border-bottom: 1px #ddd solid;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 2em;
}

.delete_btn {
  height: 1.5em !important;
}
.delete_btn:hover {
  cursor: pointer;
}

.checkout_leftBasketItems {
  min-height: 100px;
  background-color: #f3f3f3;
  border: 1px #ddd solid;
  padding: 10px;
}

.basketItem_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.basketItem_row > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0.95;
}

.basketItem_row:last-child {
  border-bottom: none;
}

.basketItem_row > div > img {
  height: 6em;
}

.disclaimer_text {
  font-size: 13px;
}

.subtotal {
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 300px;
  justify-content: space-between;
  border: 1px #ddd solid;
  padding: 20px;
  background-color: #f3f3f3;
  border-radius: 3px;
}

.subtotal > button {
  background: #f0c14b;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  border-style: solid;
  border-width: 1px;
  color: #111;
}

.subtotal_gift {
  display: flex;
  align-items: center;
}

.subtotal_gift > input {
  margin-right: 5px;
}

.checkout_btn {
  width: 100%;
}

/* LOGIN PAGE STYLES */

.login_boxContainer {
  width: 350px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  padding: 20px;
  margin: 5em auto;
}

.warning {
  color: red;
  text-align: center;
}

input[type="text"],
input[type="password"],
select {
  height: 30px;
  margin: 5px 0 10px;
  background-color: #fff;
  width: 100%;
  border: 1px black solid;
}

.signin_btn {
  width: 100%;
  margin: 15px 0;
}

.login_boxContainer > p {
  font-size: 12px;
}

.login_warning {
  color: red;
  text-align: center;
}

/* LOGGEDIN PAGE STYLES */

.loggedin_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 2em auto;
  max-width: 760px;
}

.loggedin_headerContainer {
  width: 100%;
  border: 1px solid #ddd;
  height: 5em;
  background: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 3px;
  margin-bottom: 3em;
  padding: 0 20px;
}
.loggedin_headerUser {
  color: #f08804;
  font-family: "Inter", sans-serif;
  font-weight: 900;
}

.loggedin_optionsContainer {
  width: 100%;
}

.logout {
  width: 1.5em;
}

.loggedin_checkout {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid #ddd;
  background: #f3f3f3;
  margin-bottom: 2em;
  height: 4em;
  justify-content: space-between;
  padding: 20px;
}

.loggedin_optionsContainer > div:last-child {
  display: flex;
  justify-content: space-between;
}

.loggedin_optionsContainer > div > div {
  border: 1px solid #ddd;
  background: #f3f3f3;
  border-radius: 3px;
  height: 10em;
  flex: 0.45;
}

.loggedin_basketLink {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  text-decoration: none;
  padding: 10px;
}

.loggedin_basketLink > p {
  color: black;
}

.loggedin_optionsImage {
  height: 5em;
}

/* LOGOUT STYLES */
.main_logout {
  display: flex;
  justify-content: center;
}

/* REGISTER STYLES */

.register_container {
  display: flex;
  justify-content: center;
}

.registerForm_container {
  width: 350px;
  border: 1px solid #d3d3d3;
  padding: 20px;
  margin: 5em auto;
}

.registerForm_container > h2 {
  margin-bottom: 15px;
}

.registerForm_container > form > input {
  height: 30px;
  margin: 5px 0 10px;
  background-color: #fff;
  width: 100%;
  border: 1px black solid;
}

.registered {
  display: flex;
  justify-content: center;
}

.registered_container,
.logout_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px #ddd solid;
  padding: 20px;
  background-color: #f3f3f3;
  border-radius: 3px;
  margin-top: 10em;
  flex: 0.6;
  max-width: 700px;
}

.registered_container > div > h2,
.registered_container > div > h3 {
  margin-bottom: 15px;
}

.registered_container > div > a {
  text-decoration: none;
}

.login_icon,
.home_icon {
  height: 2em;
}

/* STYLES FOR CHECKOUT */

.checkout_payment {
  display: flex;
  flex-direction: column;
  flex: 0.4;
  max-width: 500px;
  background-color: #f3f3f3;
  border: 1px #ddd solid;
  padding: 10px;
  margin: 20px;
  max-height: 450px;
}

.checkout_payment > form {
  display: flex;
  flex-direction: column;
}

.checkout_payment > a > button {
  width: 100%;
}

.checkout_shipment,
.order_total {
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;
  border: 1px #ddd solid;
  padding: 10px;
  margin: 20px 0;
}

.checkout_shipment > select {
  width: 50%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(100, 100, 100, 0.8);
  z-index: 50;
}

.modal {
  position: relative;
  width: 350px;
  height: 300px;
  margin: 20% auto;
  z-index: 99;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  text-align: center;
  border-radius: 3px;
}

/* STYLES FOR COMPLETED */
.completed_container {
  margin: 1em;
}

/* STYLES FOR ORDERS */

.orders {
  margin: 20px;
}

.orders * img {
  height: 6em;
}

.orders_list {
  background: #f3f3f3;
  padding: 10px;
  width: 50%;
}

.order_line {
  display: flex;
  align-items: center;
  padding: 10px 0 10px;
  border-bottom: 1px #ddd solid;
}

.order_line * {
  margin-right: 2em;
}

.order_line:last-child {
  border: none;
  padding-bottom: none;
}

/* FOOTER STYLES */
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  width: 100%;
  margin-top: auto;
  border-top: 1px solid white;
}

.footer_link {
  color: white;
}

.footer_link > a {
  text-decoration: none;
}

li {
  display: inline-block;
  margin: 20px;
}

.footerLeft > ul {
  display: inline-block;
}

.footerRight > img {
  padding: 0px 20px;
  margin: 0;
}

.hide {
  display: none;
}
