/* GENERAL STYLES */
* {
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Oxygen", sans-serif; */
  font-family: "Roboto", sans-serif;
  /* font-family: "Inter", sans-serif; */
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

li {
  display: inline-block;
}

.italic {
  font-style: italic;
}

.amazon_btnPrimary {
  background: #f0c14b;
  border-radius: 2px;
  height: 30px;
  border-color: #a88734 #9c7e31 #846a29;
  border-style: solid;
  border-width: 1px;
  color: #111;
}

.amazon_btnSecondary {
  border-radius: 2px;
  height: 30px;
  border: 1px solid #a9a9a9;
}

.homepage_container {
  background-color: #0f171e;
  display: flex;
  flex-direction: column;
}

/* STYLES FOR HEADER */
header {
  height: 60px;
  background-color: black;
  display: flex;
  justify-content: space-between;
}

.header_image {
  margin: 12px 20px 0;
  object-fit: contain;
}

#header_logo {
  width: 100px;
}

.searchBar {
  display: flex;
  align-items: center;
  flex: 0.7;
}

.searchBar_input {
  height: 40px;
  width: 100%;
  outline: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.searchBar_img {
  height: 38px;
  background-color: #f0c14b;
  padding: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.headerNav {
  display: flex;
  flex: 0.25;
  max-width: 300px;
  color: white;
  font-size: 13px;
  align-items: center;
  justify-content: space-evenly;
}

.headerNav_option {
  display: flex;
  flex-direction: column;
}

.headerNav_optionBold {
  font-family: "Inter", sans-serif;
  font-weight: 900;
}

.headerNav_option > a {
  text-decoration: none;
  color: white;
}

#shopping_cart {
  height: 40px;
}

#cart_container {
  position: relative;
}

#cart_amount {
  position: absolute;
  top: 3px;
  left: 17px;
  color: #f08804;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 16px;
}

.background {
  max-width: 100%;
  padding: 0;
  z-index: +99;
  position: relative;
  margin: 0 auto 5em;
}

/* STYLES FOR SUBHEADER */

.subheader_container {
  background-color: #d7ebeb;
  height: 39px;
  display: flex;
  align-items: center;
}

.subheader_text {
  margin-left: 20px;
}

/* STYLES FOR MOVIE CONTAINER */
.container {
  width: 90%;
  margin: auto;
  max-width: 1072px;
  margin-bottom: 7em;
}

.movie_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  border-radius: 5px;
  padding: 0.5em;
  background-color: #f3f3f3;
  border: 1px solid gray;
}

#left {
  flex-direction: row-reverse;
}

#right {
  flex-direction: row;
}

/* STYLES FOR MOVIE INFO INSIDE MOVIE CONTAINER */
.movie_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 10px;
}

.actors {
  font-style: italic;
}

/* STYLES FOR MOVIE IMAGE */
.movie_image {
  max-width: 10em;
}

button {
  height: 2em;
  border-radius: 5px;
  border: black 1px solid;
}

/* STYLES FOR CART */
.checkout_container {
  display: flex;
  justify-content: space-between;
}

.checkout_right,
.checkout_left {
  margin: 20px;
}

.checkout_left {
  flex: 0.6;
}

.checkout_leftInfo {
  display: flex;
  align-items: center;
  border: 1px #ddd solid;
  padding: 20px;
  background-color: #f3f3f3;
  border-radius: 3px;
  flex: 0.7;
  margin-bottom: 2em;
}

.checkout_leftOptions {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 20px;
}

.checkout_leftHeader {
  border-bottom: 1px #ddd solid;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

#delete_btn {
  height: 2em;
}

.checkout_leftBasketItems {
  min-height: 100px;
  background-color: #f3f3f3;
  border: 1px #ddd solid;
  margin: 2em 0;
  padding: 10px;
}

.basketItem_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.basketItem_row:last-child {
  border-bottom: none;
}

.basketItem_row > img {
  height: 6em;
}

.disclaimer_text {
  font-size: 13px;
}

.subtotal {
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 300px;
  justify-content: space-between;
  border: 1px #ddd solid;
  padding: 20px;
  background-color: #f3f3f3;
  border-radius: 3px;
}

.subtotal > button {
  background: #f0c14b;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  border-style: solid;
  border-width: 1px;
  color: #111;
}

.subtotal_gift {
  display: flex;
  align-items: center;
}

.subtotal_gift > input {
  margin-right: 5px;
}

/* LOGIN PAGE STYLES */

.login_boxContainer {
  width: 350px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  padding: 20px;
  margin: 5em auto;
}

.login_boxContainer > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: #fff;
  width: 100%;
  border: 1px black solid;
}

.signin_btn {
  width: 100%;
  margin: 15px 0;
}

.login_boxContainer > h2 {
  margin-bottom: 15px;
}

.login_boxContainer > form > h5 {
  margin-bottom: 5px;
}

.login_boxContainer > p {
  font-size: 12px;
}

/* LOGGEDIN PAGE STYLES */

.loggedin_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 2em auto;
  max-width: 760px;
}

.loggedin_headerContainer {
  width: 100%;
  border: 1px solid #ddd;
  height: 5em;
  background: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 3px;
  margin-bottom: 3em;
  padding: 0 20px;
}
.loggedin_headerUser {
  color: #f08804;
  font-family: "Inter", sans-serif;
  font-weight: 900;
}

.loggedin_optionsContainer {
  width: 100%;
}

.logout {
  width: 1.5em;
}

.loggedin_optionsContainer > div:first-child {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid #ddd;
  background: #f3f3f3;
  margin-bottom: 2em;
  height: 4em;
  justify-content: space-between;
  padding: 20px;
}

.loggedin_optionsContainer > div:last-child {
  display: flex;
  justify-content: space-between;
}

.loggedin_optionsContainer > div > div {
  border: 1px solid #ddd;
  background: #f3f3f3;
  border-radius: 3px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 10em;
  justify-content: space-around;
  align-items: center;
  flex: 0.45;
}

.loggedin_optionsImage {
  height: 5em;
}

/* FOOTER STYLES */
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  width: 100%;
  margin-top: auto;
  border-top: 1px solid white;
}

.footer_link {
  color: white;
  text-decoration: none;
}

li {
  display: inline-block;
  margin: 20px;
}

.footerLeft > ul {
  display: inline-block;
}

.footerRight > img {
  padding: 0px 20px;
  margin: 0;
}

.hide {
  display: none;
}
